.footer-container {
  background-color: #0b0b33;
  color: white;
}

.footer-text {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-icon {
  font-size: 26px;
  cursor: pointer;
}
